.fund-available {
    text-align: center;
    margin-top: 12px;
    label {
        display: block;
    }
    .text {
        color: #999;
    }
    .price {
        font-weight: bold;
        font-size: 40px;
        color: var(--ion-color-primary);
    }
}
.fund-detail {
    margin-top: 20px;
    span {
        width: 50%;
        display: inline-block;
    }
}