/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.tag-label {
    font-size: 12px;
    padding: 2px 5px;
    border: 1px solid #999;
    &.exchange-tag {
        color: #005eff;
        background-color: #c5daff;
        border-color: #005eff;
    }
    &.sell-tag {
        color: #ff5722;
        background-color: #ffcdbe;
        border-color: #ff5722;
    }
    &.buy-tag {
        color: #4caf50;
        background-color: #dcffdd;
        border-color: #4caf50;
    }
}

.icon {
    &.currency-inr {
        &::after {
            content:"\20B9";
        }
    }
}
.form-group {
    position: relative;
    overflow: visible;
    margin-top: .5rem;
    .input-label {
        z-index: 5000;
        position: absolute;
        top: -8px;
        background: #fff;
        padding: 0 5px;
        margin: 0 10px;
        font-size: 17px;
        color: #666;
    }
    .form-input{
        border: 1px solid #ccc;
        border-radius: 3px;
        color: #000;
        width: 100%;
        max-width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 20px;
        padding: 5px!important;
        margin-top: 2px;
        &__uppercase {
            text-transform: uppercase;
        }
        &.select-input, &.datetime-input {
            overflow: visible;
            padding: 15px!important;
        }
    }
    .form-check-input {
        margin-right: .5rem;
        font-size: 20px;
    }
    .form-check-label {
        font-size: 20px;
    }
}
.text-center {
    text-align: center;
}
.btn {
    margin: 1rem;
    font-size: 1rem;
    background: #fff;
    color: #444;
    border: 1px solid #444;
    &:hover {
        opacity: .8;
    }
    &:disabled {
        cursor: not-allowed;
        border-color: transparent;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAKrVq36zwjjgzhhYWGMYAEYB8RmROaABADeOQ8CXl/xfgAAAABJRU5ErkJggg==) repeat;
    }
    &-buy {
        color: #fff;
        background: #4caf50;
        border-color: #4caf50;
    }
    &-sell {
        color: #fff;
        background: #ff5722;
        border-color: #ff5722;
    }
    &-blue {
        border-color: #4184f3;
        color: #4184f3;
        &:hover {
            background-color: #eee;
        }
    }
    &-red {
        border-color: #ff5722;
        color: #ff5722;
        &:hover {
            background-color: #eee;
        }
    }
    &-md {
        padding: 12px 30px;
    }
    &-lg {
        padding: 15px 50px;
    }
    &-sm {
        padding: 8px 15px;
    }
    &-xl {
        padding: 15px 100px;
    }
}
.invalid-field {
    border-color: #dc3545!important;
}
.valid-field {
    border-color: #28a745;
}
.empty-record {
    text-align: center;
    padding-top: 5rem;
    color: #999;
}
.content-wrapper {
    padding: .5rem 1rem;
}
.detail-row {
    margin-top: 1rem;
    .detail-col {
        .detail-label {
            margin-right: .5rem;
            color: #444;
            display: inline-block;
        }
        .detail-value {
            display: inline-block;
        }
    }
}

.alert {
    &-red {
        .alert-message {
            color: #F00;
        }
    }
    .btn {
        color: #444;
        &-blue {
            color: #4184f3;
        }
        &-red {
            color: #F00;
        }
    }
}

.modal-drawer{
    ion-backdrop {
        --backdrop-opacity: var(--ion-backdrop-opacity, 0.4);
    }
    .modal-wrapper {
        height: 50%;
        top: 50%;
        position: absolute;
    }
}

.toast {
    opacity: 0.9;
    --background:#fff;
    &-error {
        color: #F00;
    }
    &-success {
        color: #28a745;
    }
}